#boton{
        
    text-decoration: none;
    display:inline-block;
    width:10%;
    padding:5px;
    text-align: center;
    font-weight: bold;
    color:white;
    background: rgb(124, 120, 120);
    transition: all 0.5s ease;
    font-size: 15px;
    box-shadow: #f5f1f1;
    

  }

  #boton:hover{
        
     color:#f36c67;
     background: white;
     border: 3px solid #f36c67;
     box-shadow:NONE;
        
  }

  #encabezado2 {
   width: 290px;
   height: 90px;
   float: left;
   font-family: Verdana;
   font-size: 9px;
   text-align: left;
  }
   img{
      overflow-clip-margin: content-box;
      overflow: clip;
      overflow-x: ;
      overflow-y: ;
   }

   

   #Rectangulo_rojo {

      background-color:#278e96;
      width: 400px;
      height: 20px;

   }
#cultivo{

   border: 2px solid rgb(138, 138, 138);



}
